@keyframes titulo {
    0%   {color: rgb(236, 0, 0);}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }

 header h1{
    animation-name: titulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }


  .fade-out {
   animation: fade-out 0.5s forwards;

  }


  @keyframes fade-out {
    100% {
      opacity: 0;
      display: none;
    }
  }