@keyframes titulo {
    0%   {color: #ec0000;}
    25%  {color: #ffff00;}
    50%  {color: #0000ff;}
    100% {color: #008000;}
  }

  
  @keyframes fade-out {
    100% {
      opacity: 0;
      display: none;
    }
  }

  @keyframes fade-in-flex {
    100% {
      opacity: 1;
      display: flex;
    }
  }

 header h1{
    animation-name: titulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }


  .fade-out {
   animation: fade-out 0.5s forwards;

  }

  .fade-in-flex {
    animation: fade-in-flex 0.5s forwards;
 
   }
 


